<div id="main-contain" class="with_stream">
  <div id="shoutbox" class="comment-section">
    <% if user_signed_in? %>
      <h2>Shoutbox</h2>
      <%= form_for Shout.new do |f| %>
        <%= f.text_field :body, class: 'inline-comment-input', autocomplete: 'off' %>
        <%= f.submit "Shout", class: 'inline-comment-submit', alt: 'Let it all out' %>
      <% end %>
    <% else %>
      <h2>Shout Box <span>(Requires Login)</span></h2>
    <% end %>
  
    <div class="shouts-wrapper">
      <% @shouts.each do |shout| %>
        <div class="comment<%= cycle(" selected", "") %>">
          <div class="avatar_wrap">
            <div class="avatar">
              <%= image_tag shout.user.avatar.url(:thumb) %> 
            </div>
          </div>
          <div id="a-<%= shout.id %>">
            <%= format_and_link_user(shout.user) %>
            -
            <%= format_model_body(shout) %>
            <%= link_to "Edit", edit_shout_path(shout) if user_has_edits? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/recent_activity" %>

<script type="text/javascript">
$(function() {
  shouts = new Shouts();
  shouts.start();
});
</script>
