<table class="tablesorter" id="repos-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>File</th>
      <th>Size</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <% @repos.each do |repo| %>
  <tr>
    <td><%= repo.title %></td>
    <td><%= repo_url_link(repo) if repo.document %></td>
    <td><%= link_to(repo.document_file_name, download_repo_path(repo)) if repo.document_file_name %></td>
    <td><%= readable_file_size(repo.document_file_size) if repo.document_file_size %></td>
    <td><%= repo.document_content_type %></td>
    <td>
      <%= link_to "view", repo_path(repo) %>
      <% if user_signed_in? && repo.user_can_delete?(current_user) %>
        | <%= link_to "edit", edit_repo_path(repo) %>
        | <%= link_to "delete", repo_path(repo), method: 'delete' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<div id="upload-error-message"></div>

<%= form_for Repo.new do |f| %>
  <p>
    title <%= f.text_field :title %>
  </p>
  <p>
    tiny url <%= f.text_field :tiny_url %>
  </p>
<% end %>

<p>
  100mb or less
</p>

<%= s3_uploader_form callback_url: s3_callback_repo_url,
                     key: "uploads/{timestamp}-{unique_id}-#{SecureRandom.hex}",
                     expiration: 1.hour.from_now.utc, 
                     callback_param: "repo[document_url]",
                     id: "s3-uploader", 
                     max_file_size: 100.megabytes do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<div id="upload-template">
  <!-- jon do not remove this please for the love of all Gods do not remove this -->
  <!-- ...nor the surrounding div, jerk -->
</div>

<script>
$(document).ready(function(){ 
  var repo = new Repo(<%= raw(Repo::VALID_DOCUMENT_TYPES.to_s) %>);
});
</script>
