<p>
  <%= @repo.title %>
</p>
<p>
  <%= repo_url_link @repo %>
</p>
<p>
  <%= readable_file_size @repo.document_file_size %>
</p>
<p>
  <%= @repo.document_file_name %>
</p>
<p>
  <%= @repo.document_content_type %>
</p>