<div id="news">
  <div class="news-item">
    <h2><%= @article.title %></h2>
    
    <div class="news-item-info">
      <div class="avatar_wrap">
        <div class="avatar">
          <%= image_tag @article.user.avatar.url(:thumb) %> 
        </div>
      </div>
      <span class="user-name">by <%= link_to @article.user.name, user_path(@article.user) %></span>
      <span class="created-at">on <%= @article.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span>
      <%= link_to "Edit", edit_article_path(@article) if user_has_edits? %>
    </div>

    <div class="news-content">
      <p><%= kramdown_format @article.blurp %></p>
    </div>
  </div>
  <div id="comments" class="comment-section">
    <% if user_signed_in? %>
      <h2 class="comment-header">Comments</h2>
      <%= form_for [@article, Comment.new] do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "Post", class: 'comment-submit' %>
      <% end %>
    <% else %>
        <h2 class="comment-header">Comments <span>(Requires Login)</span></h2>
    <% end %>
    
    <% @comments.each do |comment| %>
    <div class="comment<%= cycle(" selected", "") %>">
      <div class="avatar_wrap">
        <div class="avatar">
          <%= image_tag comment.user.avatar.url(:thumb) %> 
        </div>
      </div>
      <%= format_and_link_user comment.user %>
      <span class="created-at">on <%= @article.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span>
      -
      <%= format_model_body(comment) %>
      <%= link_to "Edit", edit_article_comment_path(comment.article, comment) if user_has_edits? %>
    </div>
    <% end %>
  </div>
</div>
