<%= link_to "Create Article", new_article_path %>

<div id="news">

    <% @articles.each do |article| %>
      <div class="news-item">
        <h2><%= article.title %></h2>
        <p><%= article.blurp %></p>
        <div class="news-item-footer">
          <%= link_to article.user.name, user_path(article.user) %>
          [<%= article.created_at.strftime('%m/%d/%Y at %I:%M%p') %>]
          <%= link_to "Delete", article_path(article), method: :delete %> |
          <%= link_to "Edit", edit_article_path(article) %>
        </div>
      </div>
    <% end %>
    
  </div>