<h2>Edit Topic</h2>

<%= form_for @topic, url: forum_topic_path(@topic.forum, @topic) do |f| %>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>