<div class="op_container">
  <h2><%= @topic.name %></h2>
  <p>
    <%= format_model_body(@topic, kramdown_format: true) %>
  </p>
  <div class="op_info">
    <div class="avatar_wrap">
      <div class="avatar">
        <%= image_tag @topic.user.avatar.url(:thumb) %> 
      </div>
    </div>
    <%= format_and_link_user @topic.user %>
    [<%= @topic.created_at.strftime('%m/%d/%Y at %I:%M%p') %>]
    <%= link_to "Edit", edit_forum_topic_path(@topic.forum, @topic) if user_has_edits? %>
  </div>
</div>

<div id="comments" class="comment-section">
  <% if user_signed_in? %>
    <h2 class="replies">Replies</h2>
    <%= form_for [@topic.forum, @topic, Post.new] do |f| %>
      <%= f.text_field :body, class: "inline-comment-input", autocomplete: "off" %>
      <%= f.submit "Post", class: "inline-comment-submit" %>
    <% end %>
  <% else %>
      <h2>Replies (Requires Login)</h2>
  <% end %>
  
  <% @posts.each do |post| %>
  <div class="comment<%= cycle(" selected", "") %>">
    <div class="avatar_wrap">
      <div class="avatar">
        <%= image_tag post.user.avatar.url(:thumb) %> 
      </div>
    </div>
    <div>
      <%= format_and_link_user post.user %>
      [<%= post.created_at.strftime('%m/%d/%Y at %I:%M%p') %>]
      <%= link_to "Edit", edit_forum_topic_post_path(@topic.forum, @topic, post) if user_has_edits? %>
    </div>
    <p>
      <%= format_model_body(post) %>
    </p>
  </div>
  <% end %>
</div>
