<p>
  <%= link_to "Manage News", articles_path %>
</p>

<h2>Stats</h2>

<table id="stats">
  <tr>
    <td>Users</td>
    <td><%= User.count %></td>
  </tr>
  <tr>
    <td>Articles</td>
    <td><%= Article.count %></td>
  </tr>
  <tr>
    <td>Comments</td>
    <td><%= Comment.count %></td>
  </tr>
  <tr>
    <td>Topics</td>
    <td><%= Topic.count %></td>
  </tr>
  <tr>
    <td>Posts</td>
    <td><%= Post.count %></td>
  </tr>
  <tr>
    <td>Shouts</td>
    <td><%= Shout.count %></td>
  </tr>
  <tr>
    <td>Mentions</td>
    <td><%= Mention.count %></td>
  </tr>
</table>

<h2>Forum</h2>

<% @forums.each do |forum| %>
<div><%= forum.name %></div>
<% end %>

<div>
<%= form_for Forum.new do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</div>

<h2>Manage Users</h2>

<% @users.each do |user| %>
  <div>
    <%= user.name %> 
    <%= link_to "Make Admin", make_admin_path(user) unless user.admin? %>
    <%= link_to "Remove Admin", remove_admin_path(user) if user.admin? %>
  </div>
<% end %>