<div class="market-items">
<table>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Cost</th>
    <th></th>
  </tr>
<% @market_items.each do |market_item| %>
<tr>
  <td><%= market_item.name %></td>
  <td><%= market_item.description %></td>
  <td><%= money_string(market_item) %></td>
  <td><%= link_to "Purchase", market_purchase_path(market_item) %></td>
</tr>
<% end %>
</div>