<div id="edit-account">
  <div id="account" class="edit-info-box">
    <h2>Account</h2>
    <div class="avatar_wrap">
      <div class="avatar">
        <%= image_tag @user.avatar.url(:thumb) %> 
      </div>
    </div>
    <div>
      <%= simple_form_for @user do |f| %>
        <%= f.input :name, label: 'User' %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.input :avatar, label: false %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>

  <div id="monies" class="edit-info-box">
    <h2>Monies</h2>
    <p>
      Gabloons : <%= @user.gabloons %>
    </p>
    <p>
      Frammes : <%= @user.frammes %>
    </p>
    <p>
      <%= link_to "Convert 1000 Gabloons to 1 Framme", user_gabloons_to_frammes_path %>
    </p>
  </div>

  <div id="send-monies" class="edit-info-box">
    <h2>Send Monies</h2>
    <%= simple_form_for MoneyTransaction.new do |f| %>
      <%= f.input :gabloons %>
      <%= f.input :frammes %>
      <%= f.input :to_user %>
      <%= f.button :submit, "Send Monies" %>
    <% end %>
  </div>

  <div class="user-markdown-wrap">
  <h2>User Page</h2>
    <%= link_to "View Page", u_page_path(@user.name) if @user.page %>
    <%= link_to "Destroy Page", user_page_path(@user), method: :delete if @user.page %>
    <%= link_to "Create Page", user_page_path(@user), method: :post unless @user.page %>

    <% if @user.page %>
      <%= form_for @user.page, url: user_page_path(@user) do |f| %>
        <div id="markdown">
          <p>Markdown</p>
          <%= f.text_area :markdown, class: "user-markdown" %>
          <div id="user-markdown">
          </div>
        </div>
        <div id="scss">
          <p>SCSS</p>
          <%= f.text_area :style, class: "user-style" %>
          <div id="user-style">
          </div>
        </div>
        <div>
          <%= f.submit "Update Page" %>
        </div>
      <% end %>
      

      <%= javascript_include_tag "ace", "mode-scss", "mode-markdown", "theme-twilight" %>
      <script type="text/javascript">
      $(function() {
        u = new UserPageEdit(ace);
      });
      </script>
    <% end %>
  </div>
</div>

<br /> <!-- jon hates these LOL -->  <!-- YOU DIDN'T EVEN NEED TO ADD THAT ONE ROBERT! -->