<div id="main-contain" class="with_stream">
  <div id="news">
    <% @articles.each do |article| %>
      <div class="news-item">
        <h2><%= article.title %></h2>
        <div class="news-item-info">
          <div class="avatar_wrap">
          <div class="avatar">
            <%= image_tag article.user.avatar.url(:thumb) %> 
          </div>
          </div>
          <div class="news-stats-wrap">
            <span class="user-name">by <%= format_and_link_user(article.user) %></span>
            <span class="created-at">on <%= article.created_at.strftime('%m/%d/%Y at %I:%M%p') %> | </span>
            <span class="comments"> <%= link_to pluralize(article.comments.count, "Comment"), article_comments_path(article) %></span>
            <%= link_to "Edit", edit_article_path(article) if user_has_edits? %>
          </div>
        </div>
        <div class="news-content">
          <%= kramdown_format article.blurp %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/recent_activity" %>