<div id="activity_stream">
  <% @activity_log.each do |activity_log| %>
    <div>
      <div class="avatar_wrap">
        <div class="avatar">
          <%= image_tag activity_log.user.avatar.url(:thumb) %> 
        </div>
      </div>
      <p>
        <%= format_activity_log(activity_log) %>
      </p>
    </div>

    <br />
  <% end %>
</div>

<script type="text/javascript">
$(function() {
  home = new Home();
  home.start();
});
</script>