<div class="with_stream">
  Order:
  <%= link_to "Top", links_path(order: 'top', time: @time), class: active_class_if(@order, 'top') %> |
  <%= link_to "Newest", links_path(order: 'new', time: @time), class: active_class_if(@order, 'new') %>

  Time Frame:
  <%= link_to "Today", links_path(order: @order, time: 'today'), class: active_class_if(@time, 'today') %> |
  <%= link_to "Week", links_path(order: @order, time: 'week'), class: active_class_if(@time, 'week') %> |
  <%= link_to "Month", links_path(order: @order, time: 'month'), class: active_class_if(@time, 'month') %> |
  <%= link_to "All Time", links_path(order: @order, time: 'all'), class: active_class_if(@time, 'all') %>

  <% @links.each do |link| %>
  <div class="link">
    <p>
      <%= link_to raw("&#x25B2;"), vote_link_path(link) if user_signed_in? && link.user_can_vote?(current_user) %>
      <%= link_to link.title, link.url, class: 'link-title' %>
      (<%= link_to link.url, link.url %>)
    </p>
  </div>
  <% end %>

  <% if user_signed_in? %>
    <div>
      <h2>Submit Link</h2>
      <%= form_for Link.new do |f| %>
        <div>
          Title
          <%= f.text_field :title %>
        </div>
        <br /> <!-- lol jon hates these -->
        <div>
          URL
          <%= f.text_field :url %>
        </div>
        <br /> <!-- lol jon hates these -->
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: "shared/recent_activity" %>