<div class="link">
  <p>
    <%= link_to raw("&#x25B2;"), vote_link_path(@link) if user_signed_in? && @link.user_can_vote?(current_user) %>
    <%= link_to @link.title, @link.url, class: 'link-title' %>
    (<%= link_to @link.url, @link.url %>)
  </p>
</div>