@import "variables";

.sticky-wrapper {
  @extend %clearfix;
  width: 25%;
}

.stream {
	float: right;
	width: 100%;

  .stream_wrap {
    box-sizing: border-box;
    padding: 1em 0;
  }

  .stream_activity_wrap {
    overflow: hidden;
    padding: 5px 0;
  }

	h2 {
    color: $lt_gray;
		font-size: 20px;
    margin: 1.5em 0 0 0;
	}

  p {
    float: left;
    margin: 0;
    width: 88%;
  }
}