 // Styles for user replies (shoutbox, news article comments)

 @import "variables";

.avatar_wrap {
  border: 1px solid gray;
  float: left;
  height: 22px;
  margin-right: 8px;
  margin-top: -5px;
  overflow: hidden;
  padding: 2px;
  width: 22px;
}

.avatar {
  height: 22px;
  overflow: hidden;
  width: 22px;

  img {
    width: 22px;
  }
}

 .comment-section { 
  h2 {
    font-size: 25px;
    margin: 20px 0 15px;
  }
  .comment { 
    display: block;
    padding: 15px;
  }

  .comment-submit {
    @extend %oswald;
    @include button;
  }

  .inline-comment-input {
    @include inline-input;
  }

  .inline-comment-submit {
    @include button;
  }
}