// Colors

$purple: #AAAFFF;
$dark_gray: #131313;
$md_gray: #3F3F41;
$md_gray_2: #222;
$lt_gray: #D5D5D5;
$pinkish: #eb005e;


// Typography 

@font-face {
  font-family: 'oswald-light-webfont';
  src: url('fonts/oswald-light-webfont.eot');
  src: url('fonts/oswald-light-webfont.svg') format('svg'),
       url('fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-light-webfont.woff') format('woff'),
       url('fonts/oswald-light-webfont.ttf') format('truetype');
}

%oswald_lt {
  font-family: 'oswald-light-webfont', arial; 
}

@mixin button {
	@extend %oswald;
	background: $pinkish;
	border: 1px solid $pinkish;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, .7);
	color: white;
	cursor: pointer;
	font-size: 15px;
	padding: 5px;
	width: 80px;
}

@mixin inline-input {
  float: left;
  margin-right: 10px;
  width: 350px;
}

%clearfix{
  *zoom: 1;
  &:after{
    content: " ";
    clear: both;
    display: table;
  }
}