@import "variables";

// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  border-top: 1px solid $md_gray;
	margin: 0 1em;
  padding-top: 1em;

  #new_comment {
    overflow: hidden;
    width: 400px;
  }

	textarea {
    border: none;
    height: 125px;
    padding: 8px;
		width: 400px;
	}

  .comment-header {
    font-size: 25px;
    padding: 0 0 5px 0;

    span {
      font-size: 13px;
      color: #fff;
      vertical-align: 4px;
    }
  }

  .comment-submit {
    @include button;
    margin: 8px 0 15px;
  }
}