@import "variables";

// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#forum { 
  .titles {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-weight: bold;
      padding: 1em;
    }
  }

  .forum_row {
    background: $dark_gray;
    list-style: none;
    margin: 0;
    padding: 0;

    &:nth-child(odd){
      background: black;
    }

    li {
      border-right: 2px solid black;
      display: inline-block;
      padding: 1em;

      &:last-child {
        border: none;
      }
    }
  }

  .forum_topic, .forum_post_count, .topic_title, .post_title {
    text-align: center;
    width: 6%;
  }

  .forum_name, .forum_title {
    width: 15%;
  }

  .last_activity_title, .forum_last_activity {
    width: 61%;
    text-align: right;
  }
}

.topics {
  .avatar, .avatar_wrap, .avatar img {
    height: 50px;
    width: 50px;
  }

  #comments {
    padding-top: 3em;
  }

  .comment {
    margin-top: 20px;
  }

  .comment-section {
    p {
      display: inline-block;
      margin-bottom: 6px;
      width: 95%;
    }
  }

  .op_container {
    padding: 0 1em 0 1em;
  }

  .op_info {
    margin: 3em 0 1em 0;
  }
}