@import "variables";

body, html {
  margin: 0;
  width: 100%;
}

body, table, tr, td {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $lt_gray;
  background: #000;
}

h2 {
  color: white;
  font-size: 30px;
  margin: 0;
}

a {
  color: $purple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

form {
  margin: 0;
}

input {
  margin: 0;

  &[type="text"], &[type="password"] {
    border-radius: 2px;
    border: 1px solid white;
    padding: 8px;
    width: 200px;
  }
}

#content {
  @extend %clearfix;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 0 1em;
}

.with_stream {
  float: left;
  width: 70%;
}

table {
  width: 100%;

  td {
    padding: 1em 0;
  }
}

table, tr, td {
  text-align: center;
  padding: 5px;
}

tr.selected td {
  background: $dark_gray;
}

.selected {
  background: $dark_gray;
}

.user-markdown {
  width: 300px;
  height: 300px;
}