@import "variables";

// Header styles

header {
  border-bottom: 1px solid $md_gray_2;
  
  input[type="submit"] {
    @include button;
  }

  input[type="text"],
  input[type="password"] {
    margin-right: 1em;
  }
}

#user-nav {
  background: $md_gray_2;
  height: 65px;
  padding-right: 1em;
  margin-bottom: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#user-nav-logged-in, #user-nav-logged-out {
  display: inline-block;
  float: right;
  text-align: right;
}

#user-nav-logged-in {
  font-size: 13px;
  padding-top: 25px;
}

#user-nav-logged-out {
  padding-top: 17px;
}

#logo {
  display: inline-block;
  float: left;
  padding: 8px 1em;
    
  h1 {
    color: #fff;
    font-size: 41px;
    margin: 0;
    text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  }
  
  a, a:hover {
    color: #fff;
    text-decoration: none;
  }
}

#nav {
  display: inline-block;
  float: left;
  margin: 7px 0 1em 1em;
  padding: 0 1em;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border:0; 
    float:left;
    
    li {
      float: left;
      display: list-item;
      
      a {
        float: left;
        padding: 11px;
        margin: 4px;
        text-decoration: none;
        color: $purple;
        font-size: 18px;
        font-weight: 100;
        transition: text-shadow .2s;

        &:hover {
          text-shadow: 0 0 30px rgba(255, 255, 255, .6);  
        }
      }
    }
  }
}

.sign_up_header {
  position: absolute;
  top: 75px;
  right: 12px;
}
