// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active {
  text-decoration: underline;
}

.link-title {
  color: #fff;
  font-size: 16px;
}