// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

h2 {
  @extend %oswald_lt;
  font-weight: 100;
}

#news {
  width: 100%;

  h2 {
    margin: 0 0 0 15px;
    padding: 10px 15px 5px 0;
  }

  .news-item {
    margin: 1em 0 0 0;

    p {
      font-size: 14px;
      margin: 0 0 10px 0; 
    }

    .news-content {
      padding: 8px 15px 5px;
    }

    &:first-child {
      margin-top: 0 !important;
    }

    &:nth-child(even) {
      background: $dark_gray;
      border-bottom: 1px solid $dark_gray;
      border-top: 1px solid $dark_gray;

      p {
        color: #FFF;
      }
    }

    &:nth-child(odd) {
      margin: 3em 0;
    }

    .user-name {
      display: block;
    }

    .avatar_wrap {
      margin-top: 2px;
    }
  } 
}

.news-item-info {
  padding: 10px 15px 15px 16px;
}