@import "variables";

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-account {
  margin-top: 25px;

  input[type="submit"] {
    @include button;
    width: 159px;
  }

  .edit_page > div {
    display: inline-block;
    width: 49%;
  }

  #markdown {
    margin-right: 1%;
  }
}

#monies {
  font-size: 15px;
}

#send-monies {
  label {
    display: inline-block;  
    font-size: 15px;
    margin-right: 14px;
    text-align: right;
    width: 70px;
  }

  .input {
    margin-bottom: 10px;
  }

  input[type="number"] {
    border: none;
    padding: 8px;
    width: 200px;
  }

  input[type="submit"] {
    margin-left: 125px;
  }
}

#account {
  .avatar_wrap {
    height: 100px;
    width: 100px;
  }

  .avatar {
    height: 100px;
    width: 100px;
    
    img {
      width: 100px;
    }
  }

  input[type="text"] {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
  }

  input[type="file"] {
    margin: 11px 0 19px 0;
  }

  form {
    font-size: 20px;
    overflow: hidden;
    margin-top: -17px;
  }
}

.edit-info-box {
	float: left;
  overflow: hidden;
  margin-right: 9%;
	width: 27%;

  &:nth-of-type(3) {
    margin-right: 0;
  }

  h2 {
    margin: 0 0 15px 0;
  }
}

.user-markdown-wrap {
  overflow: hidden;
	width: 100%;

  input[type="submit"] {
    margin-top: 15px;
  }
}

#user-markdown, #user-style {
  height: 200px;
}