<%= form_for("user", url: user_session_path) do |f| %>
  <%= f.text_field :email, placeholder: 'Email' %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit 'Sign in' %>
  <span class="sign_up_header"><%= f.check_box :remember_me %>	
  <%= f.label :remember_me %>
  | Don't have an account? Then <%= link_to "sign up", new_user_registration_path %> </span>
<% end %>