<html>
<head>
<title>ObX <%= "(#{current_user.mentions.unseen.count})" if user_signed_in? && (current_user.mentions.unseen.count > 0) %></title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body class="stream">
  <%= yield %>
</body>